
<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<title>Gestion des Produits</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
<!-- Brand -->
<a class="navbar-brand" routerLink="/"><img src="../../../assets/images/logo1.png"  alt="" 
    style="width:250px; height:210px;
    position:absolute;
    top:-140%;"></a>
<!-- Links -->
<ul class="navbar-nav ml-5" style="position:relative;left:10%">
    
<li class="nav-item">
<a class="nav-link" routerLink="/" >Acceill</a>
</li>



<li class="nav-item">
    <a class="nav-link"  routerLink="/">Nos Partenaires</a>
   </li>

   <!-- <li class="nav-item">
    <a class="nav-link"  routerLink="/actualites">Actualités</a>
   </li> -->

   <li class="nav-item">
    <a class="nav-link"  routerLink="/actualite">Actualités</a>
   </li>

<li class="nav-item">
 <a class="nav-link"  routerLink="/contact">Contact</a>
</li>


        

</ul>
<ul class="navbar-nav ml-auto" >
    <!-- <li><a class="nav-link">{{ authService.loggedUser}}</a></li> -->
   
    <li><a *ngIf="!authService.isloggedIn">
         <app-add-user></app-add-user></a></li>
    <li><a *ngIf="!authService.isloggedIn" class="nav-link" routerLink="/login">
        <i class="fa fa-sign-in"></i> &nbsp;Connexion</a>
    
    </li>
    <!-- <li><a *ngIf="authService.isloggedIn" (click)="logout()" class="nav-link" routerLink="/login">
        <i class="fa fa-user"></i> &nbsp;deconnexion</a></li> -->
        <div *ngIf="!authService.isloggedIn">
        <button class="btn btn-outline-warning" type="button" routerLink="/login">
             Publier votre annonce!
        </button>
        </div>

        <div *ngIf="authService.isloggedIn">

            <app-ajouter-produit-front [addButton]="addButton" style="z-index:9999 ;"></app-ajouter-produit-front>
            <!-- <button class="btn btn-outline-warning mr-1" type="button" routerLink="/creer-annonce">
                Publier votre annonce!
            </button> -->
            </div>
            
        <div *ngIf="authService.isloggedIn" class="dropdown">
            <button class="btn btn-light dropdown-toggle ml-1" style="font-weight:bold ;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                {{user.prenom}} {{user.nom}}
               
              </button>
            
            <!-- <button  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="card-img-top img-responsive rounded-circle image-user"
                src = "{{'/api/ImgUser1/'+authService.loggedUser}}" 
                style = "height :40px;width:40px"
               alt="">
               {{authService.loggedUser}}
   
            </button> -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              
            
                 
                  
                        <button class="dropdown-item" type="button">
                            <a *ngIf="authService.isAdmin()" class="user_options" routerLink="/produits">
                                <i class="fa fa-tachometer"></i> &nbsp;Dashboard</a>
                            </button>
                            <button class="dropdown-item" type="button">
                                <a *ngIf="authService.isloggedIn" class="user_options"  (click)="viewProfile()">
                                    <i class="fa fa-user"></i> &nbsp;Mon profile</a>
                                </button>
                            <button class="dropdown-item" type="button">
                                <a *ngIf="authService.isloggedIn" class="user_options" routerLink="/update-password">
                                    <i class="fa fa-key"></i> &nbsp;Changer mot de passe</a>
                                </button>

              <button class="dropdown-item" type="button">
                <a *ngIf="authService.isloggedIn" (click)="logout()" class="user_options" routerLink="/login">
                    <i class="fa fa-sign-out"></i> &nbsp;deconnexion</a>
                </button>
                
            </div>
          </div>

               
</ul>
</nav>
</body>
</html>
