<app-navbar></app-navbar>
<div class="root">
  <div class="create-article"></div>



<div class="articles">

  <div class="container mt-4" style="margin:auto ;"  *ngFor="let a of articlesBydate()">

    <nav aria-label="breadcrumb" class="mt-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" >
          <a routerLink="/"><i class="fa fa-home">  accueil</i></a>
        </li>
        <li></li>
        <li>
            <app-create-article></app-create-article>
        </li>
      </ol>
    </nav>

    <div>
        <img class="card-img-top img-responsive rounded-circle"
        src = "{{'http://piece-de-rechange.herokuapp.com/api/ImgUser/'+a.user.user_id}}" 
        style = "height :70px;width:35px;"
       alt="">

       <div style="font-weight : bold ;">{{a.user.prenom}} {{a.user.nom}}</div>
       <p class="card-text" style="margin:auto ;"><small class="text-muted">{{a.dateCreation | date:'medium'}}</small></p>
    </div>
   
      <div class="card shadow" style="margin:auto ;" >
        <div class="card-body" style="margin:auto ;">
          <h5 class="card-title" style="margin:auto ;">{{a.title}}</h5>
          <p class="card-text" style="margin:auto ;">{{a.text}}  {{a.user.user_id}} </p>
          <p class="card-text" style="margin:auto ;"><small class="text-muted">{{a.dateCreation | date:'medium'}}</small></p>
        </div>
        <img class="card-img-top img-responsive"
            src = "{{'http://piece-de-rechange.herokuapp.com/api/imga/'+a.id}}" 
            style = "height :500px;width:350px;  margin:auto ;"
           alt="">
      </div>

      <app-comments [a] = "a"></app-comments>
   
</div>

</div>


<div class="config"></div>
</div>

<app-footer></app-footer>