
<app-navbar></app-navbar>
<div class="all">
<div class="filtre">
    <div class="option">
       
             <div><input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search" [(ngModel)]="term"></div> 
             
      <!-- <input type="text" name="search" [(ngModel)]="term"> -->
    <div class="marque"> 
        <label>Catégorie :</label> 
        <select  class="custom-select custom-select-sm" [(ngModel)]="selectedCategorie.id" (change)="onSelectByCat($event)">
            <option value="0">--Choisir catégorie--</option>
          <option *ngFor="let c of categories" [value]="c.id">{{c.nomCategorie}}</option>
        
        </select>
    </div>
 <div class="marque"> 
    <label>Marque :</label> 
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedMarque.id"(change)="onSelect($event)">
        <option value="0">--Choisir marque--</option>
        <option *ngFor="let m of marques" [value]="m.id">{{m.libelleMarque}}</option>
      </select>
</div> 

<div class="marque">
    <label>Modeles :</label>  
    <select class="custom-select custom-select-sm" [(ngModel)]="selectedModele.id" (change)="onSelectByMod($event)">
      <option value="0">--Choisir modele--</option>
      <option *ngFor="let mod of modeles" [value]="mod.id">{{mod.libelleModele}}</option>
    </select>
</div>
<button class="btn btn-outline-primary mt-3 justify-content-center" (click)="onSubmit()"><i class="fa fa-search"></i> </button>
</div>

</div>

<div class="produits">

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let p of produits|filter:term">
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top"
                     src="{{'api/imgp/'+p.idProduit}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{  p.nomProduit }}</h5>
                            <!-- Product price-->
                            {{p.prixProduit}} TND
                        </div>
                        <div >
                            <ul class="list-group" *ngFor="let m of p.modeles">
                                <li class="list-group-item"> <img href="#"><img class="card-img-top img-responsive"
                                    src = "{{'/api/Imgarticles/'+m.marque.id}}" 
                                    style = "height :40px;width:60px"
                                   alt=""> {{m.libelleModele}} </li>
                                   
                            </ul>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Plus de détail</a></div>
                    </div>
                </div>
            </div>

      
   
        
    
          
        </div>
    </div>
</section>
</div>
</div>
<app-footer></app-footer>
