<app-navbar></app-navbar>

<div class="container">
    Des pièces détachées auto de qualité et au meilleur prix
Avec plus de 90 000 pièces détachées automobiles en stock, GPA est l’un des plus gros producteurs de pièces de réemploi sur le territoire national. Notre offre s’étend des pièces élémentaires d’intérieur (attache ceinture, pare-soleil, volant, etc…) jusqu’aux pièces de mécanique indispensables au fonctionnement d’une voiture (moteur, boîte de vitesse) en passant par tous les éléments de carrosserie (portes, phare, feux, capot, hayon etc …).

Notre mission est de démocratiser l’accès à la PIEC (ou pièce issue de l’économie circulaire). Ce nom un peu barbare regroupe les pièces de réemploi automobile mais aussi les pièces rénovées (on parle aussi d’échange standard). On définit une pièce d'échange standard comme étant une pièce dont les parties usées ont été remplacées par des neuves.

C’est pourquoi toutes les pièces que nous vendons chez GPA comprennent :

Un ensemble de tests, de vérifications et de photos sous différents angles
24 mois de garantie (12 mois pour les moteurs et boîtes de vitesses)
Une livraison gratuite et expresse en France métropolitaine (24 à 48h)
Un service client aux petits oignons
Avec une couverture globale du parc automobile français, vous aurez le choix parmi plus de 45 000 références de pièces détachées automobiles d’origine constructeur et équipementier.

Chaque pièce détachée automobile que nous produisons possède une traçabilité complète et transparente, elle sera ainsi rattachée à un véhicule source et dispose de son propre QR code d’identification. Chacune de nos pièces est également nettoyée et prise en photo plusieurs fois. Vous pourrez ainsi juger de son état et commander votre pièce détachée en toute sérénité.

L’ensemble de notre offre s’adresse à la fois aux particuliers et professionnels de l’automobile. GPA est aussi depuis les années 2010 un fournisseur local incontournable de pièces neuves au service des particuliers et des professionnels avec une équipe de commerciaux présents sur plusieurs départements et 20 commerciaux sédentaires.
</div>


