

<section class="py-5">
    <div class="px-4 px-lg-5">
        <!-- <pagination-controls class="pagination" style="margin:auto;" (pageChange)="p =$event"></pagination-controls> -->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-2" *ngFor="let produit of produits|filter:term ">

                


                <div class="card h-100" 
                style="
                /* border-radius: 15px; */
                 /* border: none; */
                 " >
                    <!-- Product image-->
                    <img class="card-img-top" style="border-radius: 15px;"
                     src="{{'http://piece-de-rechange.herokuapp.com/api/imgp/'+produit.idProduit}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{  produit.nomProduit }}</h5>
                            <!-- Product price-->
                            <span class="badge badge-pill badge-light">
                                  {{produit.prixProduit}} TND
                                </span>
                                <br>

                                <span class="badge badge-pill badge-light">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>  {{produit.categorie.nomCategorie}}  
                                </span>
                        </div>
                        
                     
                        <span class="badge badge-pill badge-light mt-2 text-center" style = "margin: auto;"*ngFor="let m of produit.modeles">
                            <img href="#"><img class="card-img-top img-responsive"
                               src = "{{'http://piece-de-rechange.herokuapp.com/api/Imgarticles/'+m.marque.id}}" 
                               style = "height :40px;width:60px;"
                              alt=""> {{m.libelleModele}} 
                         </span>  
                    </div>
                    <a class="badge badge-primary ml-5" [routerLink]="['/profile',produit.user.user_id]" style="width:30%;">{{produit.user.prenom}} {{produit.user.nom}} </a>
                    <span class="badge badge-pill badge-light">
                    <i class="fa fa-phone"> {{produit.user.telephone}}</i>
                    </span>

 
                    <span class="badge badge-pill badge-light">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{produit.dateCreation | date:'HH:mm'}} à {{produit.dateCreation | date:'dd-MM-yyyy'}}        
                    </span>
                    

                        <span class="badge badge-pill badge-light">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                        {{produit.delegation.gouvernorat.libelle}}, {{produit.delegation.libelle}}
                          </span>
                    <!-- Product actions-->
                    <a *ngIf="authService.loggedUser == produit.user.username" class="btn btn-outline-danger" (click)="supprimerProduit(produit)" style="border: none;width:40%;margin:auto;">
                        <i class="fa fa-trash"></i></a>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-primary mt-auto" style="border:none;border-radius: 25px;" [routerLink]="['/produit',produit.idProduit]">Plus de détail</a></div>
                    </div>
                </div>
            </div>
            
      
   
        
    
          
        </div>
   