<button type="button" class="btn btn-outline-warning mt-3" id="myModalProduit"  data-toggle="modal" data-target="#produit">
  Publier votre annonce! <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
</button>
 
<div class="modal fade" id="produit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Creation d'annonce</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
 
  <div class="container">
    <form [formGroup]="this.produitService.dataForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nomProduit">
                libelle Produit
            </label>
            <input id="nomProduit" type="text" formControlName="nomProduit" class="form-control">
          </div>

          <div class="form-group">
            <label for="prixProduit">
                Prix Produit
            </label>
            <input id="prixProduit" type="number" formControlName="prixProduit" class="form-control">
          </div>

          <!-- <div class="form-group">
            <label for="dateCreation">
                Date creation Produit
            </label>
            <input id="dateCreation" type="date" formControlName="dateCreation" class="form-control">
          </div> -->

          <div class="form-group">
              <label>Categorie</label>
              <select  id="categorie_id" formControlName="categorie_id" class="form-control">
                  <option *ngFor="let c of categories" [value]="c.id">
                      {{c.nomCategorie}}
                  </option>
              </select>
          </div>

          <div class="marque"> 
            <label>Marque :</label> 
              <select class="custom-select custom-select-sm" [(ngModel)]="selectedMarque.id"(change)="onSelect($event)">
                <option value="0">--Choisir marque--</option>
                <option *ngFor="let m of marques" [value]="m.id">{{m.libelleMarque}}</option>
              </select>
        </div> 


        <div class="drop-container mt-3 mb-3">
       
              <ng-multiselect-dropdown formControlName="modeles"
            [placeholder]="''"
            [settings]="dropdownSettings"
            [data]="modeles"
            (onSelect)="onItemSelect($event)"
            >
            </ng-multiselect-dropdown>
            
          </div>
          <div class="form-group">
            <label>File Upload  </label>
                <input type="file" accept="image/*" (change)="onSelectFile($event)">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">retour</button>
            <button class="btn btn-outline-success" type="submit">Publier!</button>
          </div>
        
    
        </form>
</div>

</div>
</div>
</div>