<app-navbar></app-navbar>
<div class="container">
    <h1>Inscription</h1>
<form [formGroup]="this.userService.dataForm" (ngSubmit)="addData()">
    <!-- <input type="hidden"  formControlName="id" id="id"> -->
  
    
   
    <div class="form-group">
      <label>Prenom: </label>
      <input type="text" class="form-control" formControlName="prenom" id="prenom">
    </div>

    <div class="form-group">
        <label>Nom: </label>
        <input type="text" class="form-control" formControlName="nom" id="nom">
      </div>

      <div class="form-group">
        <label>Date de naissance: </label>
        <input type="date" class="form-control" formControlName="naissance" id="naissance">
      </div>

      <div class="form-group">
        <label>Email: </label>
        <input type="email" class="form-control" formControlName="username" id="username">
      </div>
      <div class="form-group">
        <label>Mot de passe: </label>
        <input type="password" class="form-control" formControlName="password" id="password">
      </div>
    

    <div class="form-group">
        <label>File Upload  </label>
            <input type="file" accept="image/*" (change)="onSelectFile($event)">
            <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-outline-success"><i class="fa fa-database"></i> S'inscrire</button>
      <a class="btn btn-outline-danger" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a>
    </div>


  </form></div>

